<app-navbar-component></app-navbar-component>

<body>
    <div class="formContainer">
        <div class="flex justify-content-start">
            <p-card class="card" [style]="{ width: '70%' }">
                <div class="card wrapper flex justify-content-center">
                    <img [src]="profilePictureUrl" alt="" class="image--cover" />
                </div>

                <div class="card flex justify-content-center">
                    <h2 class="title">{{ firstname }} {{ name }}</h2>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="sectionTitle">Vos Informations Personnelles</h4>
                </div>

                <div class="card flex justify-content-center">
                    <label class="label">Email :</label>
                    <p class="userinfos">{{ email }}</p>
                </div>

                <div class="card flex justify-content-center">
                    <label class="label">Adresse :</label>
                    <p class="userinfos">{{ address }}</p>
                </div>

                <div class="card flex justify-content-center">
                    <label class="label">Téléphone :</label>
                    <p class="userinfos">{{ phone }}</p>
                </div>

                <div class="card flex justify-content-center">
                    <label class="label">Date de Naissance :</label>
                    <p class="userinfos">{{ birthdate | date }}</p>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="sectionTitle">Vos Préférences</h4>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">pets</mat-icon>
                    <p class="optionsPrefs" *ngIf="pref_animals; else no_animals">Animaux acceptés</p>
                    <ng-template class="optionsPrefs" #no_animals>Pas d'animaux de compagnie</ng-template>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">record_voice_over</mat-icon>
                    <p class="optionsPrefs" *ngIf="pref_talk; else no_talk">Bavard</p>
                    <ng-template class="optionsPrefs" #no_talk>Assez timide</ng-template>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">smoking_rooms</mat-icon>
                    <p class="optionsPrefs" *ngIf="pref_smoking; else no_smoke">Autorisation de fumer</p>
                    <ng-template class="optionsPrefs" #no_smoke>Interdiction de fumer</ng-template>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="sectionTitle">Informations sur le Véhicule</h4>
                </div>

                <div class="card preference flex justify-content-center" *ngIf="vehicle.brand == ''">
                    <p class="optionsPrefs">Aucune information sur le véhicule</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="vehicle.brand && vehicle.model && vehicle.registration">
                    <mat-icon class="icons">directions_car</mat-icon>
                    <p class="optionsPrefs">{{ vehicle.brand || 'Pas d\'information sur le véhicule' }}</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="vehicle.brand && vehicle.model && vehicle.registration">
                    <mat-icon class="icons">local_car_wash</mat-icon>
                    <p class="optionsPrefs">{{ vehicle.model || 'Pas d\'information sur le véhicule' }}</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="vehicle.brand && vehicle.model && vehicle.registration">
                    <mat-icon class="icons">color_lens</mat-icon>
                    <p class="optionsPrefs">{{ vehicle.color || 'Pas d\'information sur le véhicule' }}</p>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="sectionTitle">Informations de Paiement</h4>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">credit_card</mat-icon>
                    <p class="optionsPrefs">{{ payment_method.card_num ? '**** **** **** ' +
                        payment_method.card_num.slice(-4) : 'Aucun mode de paiement' }}</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="payment_method.card_cvc && payment_method.card_exp">
                    <mat-icon class="icons">event</mat-icon>
                    <p class="optionsPrefs">{{ payment_method.card_exp | date: 'MM/yy' }}</p>
                </div>

                <div class="button card flex justify-content-center">
                    <p-button label="Modifier les Informations" icon="pi pi-pencil" styleClass="custom-button"
                        type="submit" [routerLink]="['/profile/edit']"></p-button>
                </div>

                <div class="button card flex justify-content-center">
                    <p-button styleClass="custom-button" label="Changer le Mot de Passe" icon="pi pi-lock"
                        type="submit" [routerLink]="['/profile/edit/password']"></p-button>
                </div>
                <div class="button card flex justify-content-center">
                    <p-button styleClass="custom-button" label="Changer la Photo de Profil" icon="pi pi-image"
                        type="submit" [routerLink]="['/profile/edit/picture']"></p-button>
                </div>
            </p-card>
        </div>
    </div>
</body>
